.component {
  text-align: left;
}

.label {
  color: var(--text);
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.location {
  margin-bottom: 40px;
}

.location .label {
  color: var(--gray);
  margin-bottom: 8px;
}

.category {
  padding-top: 32px;
}

.items {
  column-gap: 14px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 8px;
}

.submit {
  margin-top: 40px;
}
